<div class="head container-fluid shadow-lg" style="background-color: #005C78">
    <header class="d-flex align-items-center justify-content-center justify-content-md-between py-2">
        <div class="ps-4">
            <a class="text-decoration-none">
                <i (click)="openCloseSideVar()" class="fas fa-bars text-white" style="font-size: 25px; cursor:pointer"></i>
            </a>
        </div>
        <div class="text-white justify-content-center align-items-center ">
            <span class="h6">SISTEMA PARA TIENDA EN LA WEB</span>
        </div>
        <div class="text-white my-1">
            <button class="btn btn-outline-light btn-sm">
                <i class="fa fa-plus pe-1"></i>
                REALIZAR VENTA
            </button>
        </div>
    </header>
</div>