<div class="row">
    <div class="col-sm-12 col-lg-3 mb-3">
        <label for="txt-codigo" class="label-form-control">Codigo del cliente:</label>
        <input id="txt-codigo" type="text" class="form-control" placeholder="Codigo del cliente" name="codigo"
            [(ngModel)]="venta.cliente.codigo" #codigo="ngModel" readonly>
    </div>
    <div class="col-sm-12 col-lg-3 mb-3">
        <label for="txt-dui" class="label-form-control">Dui del cliente:</label>
        <input id="txt-dui" type="text" mask="999999999" maxlength="9" class="form-control"
            placeholder="Dui del cliente" name="dui" [(ngModel)]="venta.cliente.dui" #dui="ngModel">
    </div>
    <div class="col-sm-12  col-lg-6 mb-3">
        <label for="txt-nombre" class="label-form-control">Nombre completo del cliente:</label>
        <input id="txt-nombre" type="text" class="form-control" placeholder="Nombre del cliente" matInput
            [matAutocomplete]="auto" [formControl]="filtroClientes">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="mostrarCliente"
            (optionSelected)="seleccionarCliente($event)">
            @for (cliente of clientesFiltrados | async; track $index) {
            <mat-option [value]="cliente">{{ cliente.nombre }} {{cliente.apellido}}</mat-option>
            }
            <!-- <mat-option>Angel Ricardo</mat-option> -->

            <!-- <input #input
                        type="text"
                        placeholder="Pick one"
                        matInput
                        [formControl]="myControl"
                        [matAutocomplete]="auto"
                        (input)="filter()"
                        (focus)="filter()">
                        <mat-autocomplete requireSelection #auto="matAutocomplete">
                            @for (option of filteredOptions; track option) {
                                <mat-option [value]="option">{{option}}</mat-option>
                            } -->
        </mat-autocomplete>
    </div>
    <!-- <div class="col-sm-12  col-lg-4 mb-3">
        <label for="txt-apellido" class="label-form-control">Apellido del cliente:</label>
        <input id="txt-apellido" type="text" class="form-control" placeholder="Ex. Ramos" name>
    </div> -->
    <!-- <div class="col-sm-12 col-md-6 mb-3">
        <label for="txt-ciudad" class="label-form-control">Ciudad:</label>
        <input id="txt-ciudad" type="text" class="form-control" readonly>
    </div>
    <div class="col-sm-12 col-md-6 mb-3">
        <label for="txt-calle" class="label-form-control">Calle:</label>
        <input id="txt-calle" type="text" class="form-control" readonly>
    </div>
    <div class="col-sm-12 col-md-4 mb-3">
        <label for="txt-casa" class="label-form-control">Casa:</label>
        <input id="txt-casa" type="text" class="form-control" readonly>
    </div>
    <div class="col-sm-12 col-md-3 mb-3">
        <label for="txt-telefono" class="label-form-control">Telefono del cliente:</label>
        <input id="txt-telefono" maxlength="10" mask="9999-9999" type="text" class="form-control"
            readonly>
    </div> -->
</div>